.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fef6e4;
  height: 100vh;
}

.paragraph {
  text-align: center;
  color: #2496ed;
}

.main-string {
  font-size: 50px;
  font-family: "Monoton", cursive;
}

.image {
  max-width: 100px;
  display: block;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.images a + a {
  margin-left: 20px;
}

@media (max-width: 700px) {
  .main-string {
    font-size: 36px;
  }
}
